# Copyrighted arcade ROMs — never commit. Regenerate src/asteroid_roms.h from
# your local asteroid.zip (see docs/AAE_RP2350_PORT.md).
roms/
src/asteroid_roms.h
build_rp2350/
build_wasm/
.DS_Store
# Copyrighted arcade ROMs embedded as headers — never commit (regenerate from local zips)
src/*_roms.h
# Copyrighted arcade sound samples — never commit
samples/*
!samples/samples.json
